RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA]

#Bloquear diretórios
	Options All -Indexes
	
# Bloquear acesso ao config.php
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>
	
#Redirecionar para HTTPS WC
	#RewriteCond %{HTTP:X-Forwarded-Proto} !https
	#RewriteCond %{HTTPS} off
	#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"